.App {
	text-align: center;
}

.App-header {
	height: 75px;
	padding: 15px;
	background-color: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.Buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 600px;
}

.Logo {
	height:inherit;
}

@keyframes App-logo-spin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}
